---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-title::before {
  content: url("/assets/logo_header.svg");
  display: inline-block;
  position: relative;
  vertical-align: top;
  top: 10px;
  }
